<script src="/public/js/registration.js"></script>
    
    <div>
        <div class="form-container">
            <header class="form-header">
   
            <h1>Register Yourself</h1>
  </header>
  
  <form id="reg-form" class="input-form"
  method="POST"
  action="/users/register"
  enctype="application/x-www-form-urlencoded">
  <div class="input-group">
   <label class="tags" for="username">Username</label>
   <input id="username" class="text-input" type="text"
   placeholder="Username" name="username"/>
   <div id="username-rules" class="validation-text">
</div>
  </div>
  <div class="input-group">
    <label class="tags" for="email>">E-mail</label>
    <input id="email" class="text-input" type="email"
    placeholder="Email" name="email"/>
    <div id="email-rules" class="validation-text">
        
    </div>
    </div>

<div class="input-group">
    <label class="tags"
    for="password">Password</label>
    <input
        id="password"
        class="text-input"
        type="password"
        placeholder="Password"
        name="password"/>
        <div id="password-rules"
        class="validation-text">
        </div>
</div>
    <div class="input-group">
        <label class="tags" for="cpassword">Confirm Password</label>
        <input
        id="cpassword"
        class="text-input"
        type="password"
        placeholder="Confirm Password"
        name="cpassword"/>
        <div id="cpassword-rules"
        class="validation-text">
        </div>
    </div>
    <div class="input-group">
        <label class="checkbox"
        <input type="checkbox" id="aoc"/>
        I am 13 years of age or older.
        </label>
    </div>
    <div class="input-group">
        <label class="checkbox">
            <input type="checkbox" id="tos-pr"/> I accept
            <a href="#">Term and Conditons</a> and
            <a href="">Privacy Rules.</a>
        </label>
        </div>
        <div class="button-group">
            <button id="submit" type="submit"
            class="btn btn-success">Submit</button>
            <button id="reset" type="reset"
            class="btn btn-danger">Reset</button>
        </div>
        </div>
   </form>

